@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  div#__next {
    @apply h-full;
  }
  .LiveFeed {
    container: contained / size;
  }
  .LiveFeed video {
    max-width: none;
  }
  .VCSRenderer {
    @apply aspect-video h-auto w-full;
  }
  @container contained (aspect-ratio >= 16 / 9) {
    .VCSRenderer {
      @apply h-full w-auto;
    }
  }
}
